body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color:rgb(201, 222, 231)
}
#alarmBtns {
display: none;
background-color:rgb(233, 229, 229);
color: rgb(8, 0, 0);
padding: 30px;
text-align: center;
}
#activateFirealarm {
    background-color:rgb(250, 8, 8);
    color: white;
    padding: 30px;
    font-size: 20px;
}
#activateBurglaralarm {
     background-color:rgb(8, 141, 250);
    color: white;
    padding: 30px;
    font-size: 20px;
}
#activateFireandBurglar {
     background-color:rgb(250, 117, 8);
    color: white;
    padding: 30px;
    font-size: 20px;
}
#pinForm {
    padding: 30px;
    font-size: 20px;
}
#alertFire {
padding: 40px;
display: none;
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 40%;
height: 40%;
background-color: rgb(241, 13, 184);
}
#deactivateAlarmBtn {
padding: 40px;
display: none;
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 40%;
height: 40%;
background-color: rgb(199, 241, 13);
}
#deactivateBurglar {
padding: 40px;
display: none;
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 40%;
height: 40%;
background-color: rgb(199, 241, 13);
}
#burglarAlarm {
padding: 40px;
display: none;
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 40%;
height: 40%;
background-color: rgb(241, 13, 184);
}
#divFireBurg {
padding: 40px;
display: none;
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 40%;
height: 40%;
background-color: rgb(241, 13, 184);
}
#deactivateFireBurg {
padding: 40px;
display: none;
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 40%;
height: 40%;
background-color: rgb(199, 241, 13)
}
#validation {
color: green;
}
#message {
    color: red;
}
#closeBtn {
    padding: 10px 20px;
    cursor: pointer;
}
#closeDeactivateBtn {
padding: 10px 20px;
cursor: pointer;
}
#closeActiveB {
padding: 10px 20px;
cursor: pointer;
}
#closeDeactivateB{
padding: 10px 20px;
cursor: pointer;
}
#closeFB {
padding: 10px 20px;
cursor: pointer;
}
#closeDeactivateFB {
padding: 10px 20px;
cursor: pointer;
}
#loggingBtn {
    max-width: 100%;
    margin-top: 20px;
    padding: 10px;
}
#eventList {
    display: none;
    max-width: 100%;
    margin-top: 20px;
    list-style-type: none;
    li:nth-child(odd) {
        background-color:rgb(240, 205, 152);
    }
    li:nth-child(even) {
    background-color:rgb(245, 228, 202);
    }
    li:hover {
        background-color:rgb(194, 180, 159);
        border: 5px solid rgb(235, 219, 235);
        cursor:grab;
    }
}
#lightbulb {
    color:rgb(227, 243, 9) !important;
}