body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}
#alarmBtns {
display: none;
background-color:rgb(233, 229, 229);
color: rgb(8, 0, 0);
padding: 30px;
text-align: center;
}
#activateFirealarm {
    background-color:rgb(250, 8, 8);
    color: white;
    padding: 30px;
    font-size: 20px;
}
#activateBurglaralarm {
     background-color:rgb(8, 141, 250);
    color: white;
    padding: 30px;
    font-size: 20px;
}
#activateFireandBurglar {
     background-color:rgb(250, 117, 8);
    color: white;
    padding: 30px;
    font-size: 20px;
}
#pinForm {
    padding: 30px;
    font-size: 20px;
}
#alertFire {
padding: 40px;
display: none;
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 40%;
height: 40%;
background-color: rgb(241, 13, 184);
}
#deactiveAlarmBtn {
    padding: 40px;
display: none;
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 40%;
height: 40%;
background-color: rgb(199, 241, 13);
}
#validation {
color: green;
}
#message {
    color: red;
}
#closeBtn {
    padding: 10px 20px;
    cursor: pointer;
}
#closeDeactivateBtn {
padding: 10px 20px;
cursor: pointer;
}